version: '3.8'
services:
  db:
    image: postgres:latest
    container_name: my_postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chirp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/
volumes:
  postgres_data:
